/*@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');  Heading font*/
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap'); /*all fonts*/

/*colour pallete
cream: #FFEEAD
turquoise: #96CEB4
red: #D9534F
orange: #FFAD60
*/

body {
    background-color: #FFEEAD;
    color: #D9534F;
    font-family: "Merriweather";
}

h1 {
    color: #FFEEAD;
    font-family: 'Coiny', script;
}

h2, h3 {
    color: #D9534F;
    font-family: 'Coiny', script;
}

a {
    text-decoration: none;
}

.page-link, .btn-signup {
    border-radius: 25px;
    background-color: #96CEB4;
    color: #FFEEAD;
    border: #FFAD60;
    text-decoration: none;
}

.page-link:hover, .btn-signup:hover{
    background-color: #D9534F;
    transition: 0.5s;
}

/*NAV BAR*/
.navbar {
    padding: 25px;
    background-color: #FFAD60;
    margin-bottom: 25px;
    justify-content: center;
    list-style: none;
}

.nav-link{
    color: #FFEEAD;
    text-decoration: underline;
    font-family: 'Coiny', script;
}

.nav-link:hover, h1:hover{
    color: #D9534F;
    transition: 0.5s;
}

/* CARDS */
.custom-cards {
    border-radius: 25px;
    border: 3px solid #96CEB4;
    background-color: #FFAD60;
}

.custom-cards:hover {
    border: 3px solid #FFAD60;
    background-color: #96CEB4;
    transition: 0.5s;
}


.footer {
    background-color: #FFAD60;
    color: #FFEEAD;
}

/*IN THE BLOG POSTS*/

.scale {
    width: 50%;
    padding-left: 50px;
}


.post-subtitle {
    color: #D9534F;
}

.post-info {
    border-radius: 25px;
    background-color: #FFAD60;
    color: #FFEEAD;
    border: 3px solid #96CEB4;
}

/* SIGNING IN AND OUT*/
.sign-in-out{
    border-radius: 25px;
    color: #D9534F;
}
