/*@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');  Heading font*/
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap'); /*all fonts*/

/*colour pallete
cream: #FFEEAD
turquoise: #96CEB4
red: #D9534F
orange: #FFAD60
*/

body {
    background-color: #FFEEAD;
    color: #FFEEAD;
    font-family: "Merriweather";
}

h1, h2 {
    color: #D9534F;
    font-family: 'Coiny', script;
}

a {
    text-decoration: none;
}

.page-link {
    border-radius: 25px;
    background-color: #D9534F;
    color: #FFEEAD;
    border: #FFAD60;
    text-decoration: none;
}

.page-link:hover{
    background-color: #96CEB4;
}

/*NAV BAR*/
.navbar {
    padding-top: 25px;
}

/* CARDS */
.custom-cards {
    border-radius: 25px;
    border: 3px solid #96CEB4;
    background-color: #FFAD60;
}

.custom-cards:hover {
    border: 3px solid #FFAD60;
    background-color: #96CEB4;
}


footer {
    color: #96CEB4;
}